/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

/* Define CSS variables */
:root {
  --primary-color: #F6F6F9;
  --secondary-color: #212946;
  --accent1-color: #BDA3F7;
  --accent2-color: #916BBF;

  --heading-font: "Montserrat";
  --paragraph-font: "Roboto", Helvetica, sans-serif;

  --headline-color-on-white: var(--secondary-color);
  --headline-color-on-color: white;
  --paragraph-color-on-white: var(--secondary-color);
  --paragraph-color-on-color: white;
  --paragraph-background-color: #212946;
  --nav-link-color: var(--secondary-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--secondary-color);
}

/* Container for Logo and Menu */
.header {
  display: flex;
  justify-content: space-around; /* Changes from space-between to space-around */
  align-items: center;
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
}

/* Logo */
.logo {
  max-width: 100px; /* adjust size as needed */
  height: auto;
}

/* Menu */
.menu {
  list-style-type: none;
  display: flex;
  line-height: 3em;
  font-size: 1.2em;
}

.menu a {
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  color: var(--nav-link-color);
}

.menu a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

#heroVideo {
  width: 1000px;      /* Width of the video */
  /*height: 500px;     /* Height of the video */
  position: relative; /* Relative position */
  margin: 0 auto;     /* Centering the video horizontally */
  display: block;     /* Block level element */
}

#skills {
  width: 80%;
  margin: 50px auto;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.skill img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-right: 10px;
}

.skill .skill-description {
  width: calc(70% - 200px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill .skill-description h2 {
  margin-bottom: 10px;
}

.skill .skill-description button {
  margin-bottom: 10px;
}

.skill:nth-child(even) {
  flex-direction: row-reverse;
}

#certificates {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  width: 100%;
}

.text-container, .carousel-container {
  flex: 1 1 50%;
  margin: 20px;
}

.carousel-container {
  overflow-x: scroll; /* make the container scrollable */
  scrollbar-width: thin; /* adjust the scrollbar width */
}

.carousel {
  display: flex; /* make the images line up in a row */
}

.carousel img {
  margin-right: 10px;
  height: 200px;
  width: auto;
  object-fit: cover;
}
#portfolio {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 600px; /* adjust this value based on your needs */
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; /* Added this line to handle overflowing content */
}

#portfolio .desktop {
  width: 500px;
  height: auto;
  max-height: 90%; /* adjust this value based on your needs */
}

#portfolio .mobile {
  position: absolute;
  right: 20%; /* adjust this value to move the mobile image left or right */
  bottom: 0;
  width: 250px;
  height: auto;
  max-height: 50%; /* adjust this value based on your needs */
}

footer {
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-media a {
  color: var(--primary-color);
  text-decoration: none;
}

.social-media img {
  width: 40px;
  height: 40px;
}



/* Setting up the color and font of your headings and paragraphs according to your site plan */
h1, h2, h3, h4, h5, h6 {
  color: var(--headline-color-on-white);
  font-family: var(--heading-font);
}

p {
  color: var(--paragraph-color-on-white);
  font-family: var(--paragraph-font);
}

/* Apply the color scheme for the elements on colored background */
header, footer {
  color: var(--headline-color-on-color);
}

header > h1, header > h2, footer > p {
  color: var(--headline-color-on-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
